.git
**/.git
.gitignore
.gitattributes
.docker-data
.dockerignore
.devcontainer
__pycache__
**/__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache
.DS_Store
.venv
venv
env

ohlc_cache
data_cache
html_cache
html_cache_temp
pnl_cache
automator_html
images

debug_output.txt
